#ContainerPrincipal{
    display: block;
    width: 98%;
    height: auto;
    margin: 0 auto; /*CENTER*/
}

#criaModelBar{
    background-color: #79aec8;
    margin: 0; /*SAME WIDTH OF PARENT*/
}

#criaModelBar > h2{
    font-size: 16px;
    font-weight: lighter;
    color: white;
    padding: 10px 10px;
}

#formDiv{
    display: block;
    width: 40%;
    height: auto;
}

.criaModelForm{
    display: block;
    width: 100%; /*ALL CONTENT OF PARENT*/
    height: auto;
}

input{
    font-weight: 500;
    min-height: 34px;
    box-sizing: border-box;
    vertical-align: middle;
}

#outputDictModel > input{
    min-width: 250px;
}

#nameModel, #normalizedStdModel, #normalizedMeanModel, #outputDictModel, #inputShapeModel, #datasetIdOptions, #modelUploadFile{
    display: inline-block;
    height: auto;
    width:100%;
    border-bottom: 0.5px solid #eeeeee;
    padding: 15px 0px 8px 10px;
    vertical-align: middle;
}

#nameModel > label, #normalizedStdModel > label, #normalizedMeanModel > label, #outputDictModel > label, #inputShapeModel > label, #datasetIdOptions > label, #modelUploadFile > label{
    color: #666;
    display: inline-block; /*I NEED TO DEFINE THIS, IN ORDER TO WIDTH VALUE CHANGE --> BECAUSE BY DEFAULT THE DISPLAY IS BLOCK*/
    vertical-align: middle;
    width:28%;
}

#divBtnCriaModel{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.btnCriaModel{
    display: block;
    margin-top: 0;
    width: 25%;
}

@media (max-width: 900px) { /*RESPONSIVE DIV'S WHEN WIDTH IS LOW*/
    #nameModel, #normalizedStdModel, #normalizedMeanModel, #outputDictModel, #inputShapeModel, #datasetIdOptions, #modelUploadFile{
        min-width: 400px;
    }
}

@media (max-width: 1440px) {
    .btnCriaModel{
        width:60%;
    }
}

@media (max-width: 1080px) {
    .btnCriaModel{
        width:80%;
    }
}

@media (max-width: 780px) {
    .btnCriaModel{
        width:100%;
    }
}

@media (max-width: 640px) {
    .btnCriaModel{
        width:100%;
    }
}

@media (max-width: 480px) {
    .btnCriaModel{
        width:100%;
    }
}