#relativeContainer{
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 1%;
}

#listModelsBox{
    display: block;
    width: 98%;
    height: auto;
    margin: 0 auto;
    overflow: hidden; /*preventing scroll problem of table*/
}

#modelsBox{
    display: block;
    width: 70%;
    height: auto;
    overflow: auto;
}

#modelsTable{
    border-spacing: 0 1px;
    border-collapse: collapse;
    width: auto;
}

#modelsBox > #modelsTable th{
    background-color: #79aec8;
    color: white;
    font-size: 12px;
    padding: 0.9vw;
    height: auto;
    text-align: center;
}

#modelsTable > tr, td{
    height: 25px;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
}

#modelsTable tr:nth-child(2n+1){ /* Intercalate color of table rows */
    background-color:  #f9f9f9;
}

#modelsTable a:link, a:visited{
    text-decoration: none;
    font-weight: 900;
}

/*media queries*/
@media (max-width: 1620px) {
    #modelsBox{
        width: 80%;
    }
}

@media (max-width: 1420px) {
    #modelsBox{
        width: 90%;
    }
}

@media (max-width: 1280px) {
    #modelsBox{
        width: 100%;
    }
}

@media (max-width: 1150px) {
    #modelsBox > #modelsTable th{
        font-size: 11px;
        padding: 0.5vw;
    }

    #modelsTable > tr, td{
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    #modelsBox > #modelsTable th{
        font-size: 10px !important;
        padding: 0.3vw !important;
    }

    #modelsTable > tr, td{
        font-size: 11px !important;
    }
}
