#containerAboutLinks{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.inlineLinks{
    padding-bottom: 10px;
    display: block;
}

.link a{
    text-decoration: none;
    color: #79aec8;
    display: table-cell;
    vertical-align: middle;
}

.link a:hover{
    transition: all .3s ease-out; /*the transition effect is provided by the border_bottom that goes down when a href is activated in active a*/
    color: #417690;
    cursor: pointer;
}

/*ref: jquery active li element: https://stackoverflow.com/questions/31682531/jquery-style-the-other-li-element-by-cliking-li*/
.active a{
    padding-bottom: 15px;
    border-bottom: 2px solid #417690;
}

.inlineLinks .link{
    display: inline;
    font-size: 40px;
    color: white;
    padding-left: 3vw;
    padding-right: 4vw;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
}

#insertContent{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
    margin-top: 1vw;
}

#insertContent > #aboutMe, #insertContent > #aboutProject, #insertContent > #aboutMethodology{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#aboutMe > h2, #aboutProject > h2, #aboutMethodology h2{
    text-align: left; /*Align left*/
    margin-top: 1vw; /*overrides specified value from extended templates*/
    font-size: 40px;
    font-weight: 600;
    font-family: "Vivaldi", sans-serif;
}

#aboutMe > p , #aboutProject > p, #aboutMethodology > p{
    text-align: justify;
    font-size: 14px;
}

#aboutMe > h4{
    text-align: left;
    font-size: 18px;
    margin-top: 0;
    font-weight: 500;
    font-family: 'Roboto', 'Noto', sans-serif;
}

#referencesBlock{
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-top: 2vw;
}

#referencesBlock .githubRef, #referencesBlock .linkedinRef, #referencesBlock .mailRef{
    margin-right: 1.5vw; /*if i need to put images on left, i need to use float: left;*/
}

#referencesBlock .githubRef:hover, #referencesBlock .linkedinRef:hover, #referencesBlock .mailRef:hover{
   opacity: 0.7;
}

#referencesBlock .githubRef > img, #referencesBlock .linkedinRef > img{
    width: 50px;
    height: 50px;
}

#referencesBlock .mailRef > img{
    width: 60px;
    height: 50px;
}

#aboutMethodology > #modelsDimensions{
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 0 0;
}

#modelsDimensions #alexNet, #modelsDimensions #vggNet, #modelsDimensions #resNet, #modelsDimensions #denseNet{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
}

#alexDimensions li, #vggDimensions li, #resnetDimensions li, #densenetDimensions li{
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

.arrowButton:after{
    margin-left: -5px;
    content: '\25BC';
    cursor: pointer;
}

#alexDimensions > li, #vggDimensions > li, #resnetDimensions > li, #densenetDimensions > li{ /*li text style*/
    list-style: none;
    font-size: 14px;
    font-weight: 300;
    font-family: "Arial", sans-serif;
}

#alexDimensions > li:before, #vggDimensions > li:before, #resnetDimensions > li:before, #densenetDimensions > li:before{ /*icon before li style*/
    content: '\f0fe'; /*font-awesome code icon*/
    color: black;
    margin-left: -15px; /*how apply list-style none, i need to override margin-left, because list-style none, deletes this properties*/
    padding-right: 5px;
    text-align: left;
    font-family: FontAwesome, sans-serif;
}

.lastMethodologyParagraph{
    padding-bottom: 1vw;
}

@media (max-width: 700px) {
    .inlineLinks .link{
        display: inline;
        font-size: 30px;
        color: white;
        padding-left: 2vw;
        padding-right: 4vw;
    }
}