h1{
    margin: 0;
    font-weight: 500;
    font-size: 50px;
    color: #005766;
}

#confusionMat{
    background-color: beige;
    overflow: hidden;
    display: table;
}

.predLabel{
    margin-left: 1.5%;
}

#confusionMat #realConfMatLabel .realLabel{

    writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-align: center;
}

#confusionMat #realConfMatLabel{
    display: table-cell;
    height: 100%;
}

#confusionMat #displayConfMat{
    display: table-cell;
    height: 100%;
    text-align: center;

}