#relativeContainer{
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 1%;
}

#containerPrincipal{
    display: block;
    width: 98%;
    height: auto;
    margin: 0 auto;
    overflow: hidden; /*preventing scroll problem of table*/
}

#datasetsBox{
    display: block;
    width: 60%;
    height: auto;
}

#tabelaDatasets{
    border-spacing: 0 1px;
    border-collapse: separate;
    width: auto;

}

#datasetsBox > #tabelaDatasets th{
    background-color: #79aec8;
    color: white;
    font-size: 12px;
    padding: 0.9vw;
    height: auto;
    text-align: center;
}

#tabelaDatasets > tr, td{
    height: 25px;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
}

#tabelaDatasets tr:nth-child(2n+1){ /* Intercalate color of table rows */
    background-color:  #f9f9f9;
}

#tabelaDatasets a:link, a:visited{
    text-decoration: none;
    font-weight: 900;
}

#buttonOptions{
    display: block;
    height: auto;
    width: 10%;
    padding-left: 10px;
    margin-top: 2%;
}

#buttonOptions > .criaDataset{
    display: block;
    width: 100%;
    font-weight: 500;
    min-height: 36px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    background: #79aec8;
    color: #fff;
    font-size: 13px;
    padding: 10px 20px;
    letter-spacing: 0.5px;
    text-decoration: none;
    background-image: url("../img/tooltag-add.svg"); /*Relative path from css file, i.e, distant between css and image folder*/
    background-repeat: no-repeat;
    background-position: right 7px center;
    padding-right: 26px;
}

.criaDataset:hover{
    opacity: 0.85;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    left: 20px;
    font-size: 13px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

span > p{
    margin: 0;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 40%; /* At the bottom of the tooltip */
    left: -2%;
    margin-left: -6px;
    border-width: 4px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    transform: rotate(90deg);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 1440px) {
    #buttonOptions{
        width:20%;
    }
}

@media (max-width: 1080px) {
    #buttonOptions{
        width:30%;
    }
}

@media (max-width: 1024px) {
    #datasetsBox > #tabelaDatasets th{
        font-size: 11px;
        padding: 0.6vw;
    }
    #tabelaDatasets > tr, td{
        font-size: 12px !important;
    }
}

@media (max-width: 780px) {
    #buttonOptions{
        width:40%;
    }
    .tooltip .tooltiptext {
        width: 70px;
        font-size: 11px;
    }
}

@media (max-width: 640px) {
    #buttonOptions{
        width:40%;
    }
}

@media (max-width: 480px) {
    #buttonOptions{
        width:50%;
    }
}
