<!-- ref: https://stackoverflow.com/questions/22636819/confirm-deletion-using-bootstrap-3-modal-box -->

<!-- Modal confirm -->
<head>
    <title></title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>

<div class="modal" id="warningModal">
    <div class="modal-dialog">
        <div class="modal-content" data-backdrop="true">
            <div class="modal-body" id="warningMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="warningOk">Ok</button>
            </div>
        </div>
    </div>
</div>