<!-- ref: https://stackoverflow.com/questions/22636819/confirm-deletion-using-bootstrap-3-modal-box -->

<!-- Modal confirm -->
<head>
    <title></title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="confirmMessage">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirmOk">Ok</button>
            <button type="button" class="btn btn-primary" id="confirmCancel">Cancel</button>
          </div>
    </div>
  </div>
</div>