{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/general/css/filterToolbar.css">
{% endblock %}
{% block filterToolBar %}
    <div id="filterToolbar">

        {% block titleFilter %}
            <div id="filterTitle">
                <h1>Opções:</h1>
            </div>
        {% endblock %}

        {% block addFilter %}
            <div id="addFilterOption">
                <a href="{{ linkAdd }}" class="linkAdicionaFiltro">Adicionar</a>
            </div>
        {% endblock %}

        {% block changeFilter %}
            <div id="changeFilterOption">
                <a href="#" class="linkAlteraFiltro">Alterar</a>
            </div>
        {% endblock %}

        {% block deleteFilter %}
            <div id="deleteFilterOption">
                <a href="#" class="linkApagaFiltro">Apagar</a>
            </div>
        {% endblock %}

        {% block applyFilterElement %}

        {% endblock %}

    </div>
{% endblock %}