
<footer class="flex-rw">

    <section class="footer-social-section flex-rw">
                <span class="footer-social-overlap footer-social-icons-wrapper">
                <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"></a>
                </span>
    </section>
    <section class="footer-bottom-section flex-rw">
        <div class="footer-bottom-wrapper">

            </i> Gustavo Almeida - INSTITUTO SUPERIOR DE ENGENHARIA DE COIMBRA
        </div>
    </section>
</footer>