<!--REF: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar!-->
<div class="breadcrumbs">
    <nav id="navigationGenericBar">
        <a href="{% url 'users:home' %}"><span class="transitionLink">Home</span></a>
        <a href="#"><span class="transitionLink">Datasets</span></a>
        <a href="#"><span class="transitionLink">Modelos</span></a>
        <div class="dropdown">
            <button class="dropbtn">Simulação
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </nav>
</div>