{% if page_obj.has_other_pages %}
    <div id="pagination">
        <div id="boxpreviousSymbol">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% endif %}
        </div>
        {% for i in page_obj.paginator.page_range %}
            <div id="boxNumberPages">
                {% if page_obj.number == i %}
                    <span>{{ i }} <span class="sr-only"></span></span>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            </div>
        {% endfor %}
        <div id="boxNextSymbol">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% endif %}
        </div>
    </div>
{% endif %}