{% if page_obj.has_other_pages %}
    <div id="pagination">
        {% if page_obj.has_previous %}
            <div id="boxpreviousSymbol">
                <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </div>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            <div id="boxNumberPages">
                {% if page_obj.number == i %}
                    <div id="actualPage">
                        <span>{{ i }} <span class="sr-only"></span></span>
                    </div>
                {% else %}
                    <div id="differentPage">
                        <a href="?page={{ i }}">{{ i }}</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if page_obj.has_next %}
            <div id="boxNextSymbol">
                <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </div>
        {% endif %}
    </div>
{% endif %}