{% extends 'users/InfoUser.html' %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/models/css/changeModel.css">
    <script src="/static/dependencies/js/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js"></script>
    <script src="/static/general/js/messagesTimeout.js"></script>
{% endblock %}

{% block content %}
    <div id="changeModelContainerBox">
        <h1>Editar Modelo</h1>
        <div id="changeModelBar">
            <h2>Info Modelo</h2>
        </div>
        <div id="changeModelBox">
            <form id="changeModelForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div id="changeModelNameBox">
                    <label>{{ form.name.label_tag }}</label>
                    {{ form.name }}
                </div>

                <div id="changeModelNormalizedStdBox">
                    <label>{{ form.normalize_std.label_tag }}</label>
                    {{ form.normalize_std }}
                </div>

                <div id="changeModelNormalizedMeanBox">
                    <label>{{ form.normalize_mean.label_tag }}</label>
                    {{ form.normalize_mean }}
                </div>

                <div id="changeModelInputShapeBox">
                    <label>{{ form.input_shape.label_tag }}</label>
                    {{ form.input_shape }}
                </div>

                <div id="changeModelOutputDictBox">
                    <label>{{ form.output_dict.label_tag }}</label>
                    {{ form.output_dict }}
                </div>

                <div id="changeModelDatasetIdBox">
                    <label>{{ form.dataset_id_options.label_tag }}</label>
                    {{ form.dataset_id_options }}
                </div>

                <div id="changeModelUploadedFileBox">
                    <label>{{ form.file_upload.label_tag }} Atual:{{ actual_file }}</label>
                    {{ form.file_upload }}
                </div>

                <div id="changeSubmitButtonBox">
                    <input type="submit" class="changeModelSubmitButton" value="Editar Modelo">
                </div>

            </form>
        </div>
    </div>
{% endblock %}