{% extends 'dataset/index.html' %}
{% block content %}
    <h1>Confusion Matrix</h1>
    <label class="predLabel">Predictions</label>
    </br>
    <div id="confusionMat">
        <div id="realConfMatLabel">
            <label class="realLabel">Real</label>
        </div>
        <div id="displayConfMat">
            {{ arrayConf }}
        </div>
    </div>
    <p>Accuracy: {{ acc }}</p>
    </br>
    <p>Precision: {{ prec }}</p>
    </br>
    <p>Recall: {{ rec }}</p>
    </br>
    <p>F1-Score: {{ f1 }}</p>
{% endblock %}