{% extends 'users/InfoUser.html' %}
<!-- THIS FORM OVERRIDES EVERYTHING FROM INFO_USER, TO THE EXCEPTION OF CONTENT!-->
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/users/css/changePassword.css">
{% endblock %}
{% block content %}
    <div id="ContainerPrincipal">
        <h1>Change Password</h1>
        <div id="ChangePasswordBar">
            <h2>Personal Info</h2>
        </div>
        <div id="formDiv">
            <form class="changePassForm" method="post">
                {% csrf_token %}
                <div id="oldPassData">
                    <label>{{ form.old_password.label_tag }}</label> <!--MODEL ON CREATEUSERVIEW IS CUSTOMUSER, AND NOW I NEED TO USE THIS FIELDS AND INHERITED FIELDS FROM USER CLASS-->
                    {{ form.old_password }}
                </div>
                <div id="newPassData1">
                    <label>{{ form.new_password1.label_tag }}</label>
                    {{ form.new_password1 }}
                </div>
                <div id="newPassData2">
                    <label>{{ form.new_password2.label_tag }}</label>
                    {{ form.new_password2 }}
                </div>
                <div id="divBtnChangePass">
                    <input type="submit" class="btnChangePass" value="Alterar Password">
                </div>
            </form>
        </div>
    </div>
{% endblock %}