{% extends 'general/base_layout.html' %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/users/css/createUser.css">
{% endblock %}

{% block content %}
    <div id="containerPrincipalDivForm">
        <div id="header">
            <h1>Registo</h1>
        </div>
        <div id="formDiv">
            <form class="createForm" method="post"> <!--FORM DE CRIACAO DE UM NOVO USER-->
                {% csrf_token %}
                <table class="createTable">
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password1.label_tag }}</td>
                        <td>{{ form.password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password2.label_tag }}</td>
                        <td>{{ form.password2 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.first_name.label_tag }}</td>
                        <td>{{ form.first_name }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.last_name.label_tag }}</td>
                        <td>{{ form.last_name }}</td>
                    </tr>
                    <td>{{ form.userType.label_tag }}</td>
                    <td>{{ form.userType }}</td>
                </table>
                <input type="submit" class="btnCriar" value="Criar Conta">
            </form>
        </div>
    </div>
{% endblock %}
