{% extends 'admin/base_site.html' %}
{% block title %}
    {% include 'general/titleBarSite.html' %}
{% endblock %}
{% block branding %}
    {% include 'general/branding.html' %}
{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/users/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/static/users/css/createUser.css">
{% endblock %}
{% block breadcrumbs %}
    {% include 'general/homeRedirect.html' %}
{% endblock %}
{% block content %}
    <div id="containerPrincipalDivForm">
        <div id="header">
            <p>sddssdssd</p>
        </div>
        <div id="mainDivForm">
            <form method="post"> <!--FORM DE CRIACAO DE UM NOVO USER-->
                {% csrf_token %}
                <table class="createTable">
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password1.label_tag }}</td>
                        <td>{{ form.password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password2.label_tag }}</td>
                        <td>{{ form.password2 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.first_name.label_tag }}</td>
                        <td>{{ form.first_name }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.last_name.label_tag }}</td>
                        <td>{{ form.last_name }}</td>
                    </tr>
                    <td>{{ form.userType.label_tag }}</td>
                    <td>{{ form.userType }}</td>
                </table>
                <input type="submit" value="Criar Conta">
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include 'general/foot.html' %}
{% endblock %}