{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block stylesheet %} {{ block.super }} {% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css"  href="/static/users/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/static/users/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/general/css/branding.css">
    <link rel="stylesheet" type="text/css" href="/static/users/css/navGenericLinks.css">
{% endblock %}
{% block branding %}
    {% include 'general/branding.html' %}
 {% endblock %}
{% block title %}
    {% include 'general/titleBarSite.html' %}
{% endblock %}
{% block responsive %}
    {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
    {% include 'general/navMinorLink.html' %}
{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div id="contentHome">
        <div id="textContext">
            <p class="titleApp">imagePredict</p>
            <p class="contextApp">
                Divulga os teus modelos convolucionais,
                e promove a sua eficiência, com a
                funcionalidade de diagnóstico interativo
            </p>
        </div>
        <div id="buttonSpaceHome">
            <input class="loginButton" type="submit" value="Login" onclick="location.href='{% url 'users:login' %}'">
            <input class="createButton" type="submit" value="Create Account" onclick="location.href='{% url 'users:create' %}'">
        </div>
        <div id="inlineBoxHomeImage">
            <img src="/static/users/img/geneExp.png" alt="Gene Expression" class="responsive">
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "general/foot.html" %}
{% endblock %}