{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block stylesheet %} {{ block.super }} {% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/users/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/static/users/css/home.css">
{% endblock %}
{% block branding %} <h1>Website</h1> {% endblock %}
{% block title %}{{ title }} | {% trans 'Gene Expression Analysis' %}{% endblock %}
{% block responsive %}
    {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'users:home' %}">Home</a>
    </div>
{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div id="contentHome">
        <img src="/static/users/img/geneExp.png" alt="Gene Expression" class="responsive">
        <input type="submit" value="Login" onclick="location.href='{% url 'users:login' %}'">
        <input type="submit" value="Create Account" onclick="location.href='{% url 'users:create' %}'">
    </div>
{% endblock %}
{% block footer %}
    <footer class="flex-rw">

        <section class="footer-social-section flex-rw">
            <span class="footer-social-overlap footer-social-icons-wrapper">
            <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
            </span>
        </section>
        <section class="footer-bottom-section flex-rw">
    <div class="footer-bottom-wrapper">

    </i> Gustavo Almeida - INSTITUTO SUPERIOR DE ENGENHARIA DE COIMBRA
    </div>
        </section>
    </footer>
{% endblock %}