{% extends 'admin/base_site.html' %} <!--TESTAR COM ESTA, AINDA NÃO SEI BEM, SE ESTA TEM O QUE PRETENDO-->
{% load i18n %}
{% block title%}
    {% include 'general/titleBarSite.html' %}
{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/users/css/userLinks.css">
    <link rel="stylesheet" type="text/css" href="/static/users/css/navGenericLinks.css">
    <link rel="stylesheet" type="text/css" href="/static/users/css/infoUser.css">
    <link rel="stylesheet" type="text/css" href="/static/users/css/footer.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}
{% block branding %}
    {% include 'general/branding.html' %}
{% endblock %}
{% block usertools %}
    <div id="user-tools"> <!--Override usertools on base, because i didn't restrict the welcome message, for specific users !-->
        {% block welcome-msg %}
            {{ block.super }} <!--Keeps equals to base!-->
        {%  endblock %}
        {% block  userlinks %} <!--I need to override this!-->
            {% include 'general/accountUserLinks.html' %}
        {% endblock %}
    </div>
{% endblock %}
{% block breadcrumbs %}
    {% include 'general/genericNavBar.html' %}
{% endblock %}
{% block content %}
    <div id="containerPrincipal">
        <h1>User information</h1>
        <div id="BarPersonalInfo">
            <h2>Personal Info</h2>
        </div>
        <div id="infoForbiddenUpdate">
            <div id="userTypeData">
                <label>{{ form.userType.label_tag }}</label>
                <input type="text" id="userTypeInput" value="{{ user.userType }}" disabled>
            </div>
            <div id="emailData">
                <label>{{ form.email.label_tag }}</label>
                <input type="text" id="emailInput" value="{{ user.email }}" disabled>
            </div>
        </div>
        <div id="infoMayOverride">
            <form class="getOverridedValues" method="post">
                {% csrf_token %}
                <div id="usernameData">
                    <label>{{ form.username.label_tag }}</label> <!--MODEL ON CREATEUSERVIEW IS CUSTOMUSER, AND NOW I NEED TO USE THIS FIELDS AND INHERITED FIELDS FROM USER CLASS-->
                    {{ form.username }}
                </div>
                <div id="firstNameData">
                    <label>{{ form.first_name.label_tag }}</label>
                    {{ form.first_name }}
                </div>
                <div id="lastNameData">
                    <label>{{ form.last_name.label_tag }}</label>
                    {{ form.last_name }}
                </div>
                <div id="divBtnChangeProfile">
                    <input type="submit" class="btnChangeProfile" value="Atualizar Profile">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include 'general/foot.html' %}
{% endblock %}