{% extends 'admin/base_site.html' %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css"  href="/static/users/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/static/users/css/loginForm.css">
{% endblock %}
<div id="branding">
{% block  branding%}
    {% include 'general/branding.html' %}
{% endblock %}
</div>
{% block breadcrumbs %}
    {% include 'general/homeRedirect.html' %}
{% endblock %}
{% block bodyclass %}{% endblock %}

{% block content %}
    <div id="container" style="background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 80px auto;">
        {% include 'admin/login.html' %}
    </div>
{% endblock %}
{% block footer %}
    {% include 'general/foot.html' %}
{% endblock %}


