{% extends 'admin/base_site.html' %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css"  href="/static/users/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/static/users/css/loginForm.css">
{% endblock %}
{#{% block content %}#}
{#    <h1>Login</h1>#}
{#    {% if messages %}#}
{#        <ul class="messages">#}
{#        {% for message in messages %}#}
{#            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#        {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <table>#}
{#            <tr>#}
{#                <td>{{ form.username.label_tag }}</td>#}
{#                <td>{{ form.username }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>{{ form.password.label_tag }}</td>#}
{#                <td>{{ form.password }}</td>#}
{#            </tr>#}
{#        </table>#}
{#        <input type="submit" value="login">#}
{#    </form>#}
{#{% endblock %}#}
<div id="branding">
{% block  branding%}
    {% include 'general/branding.html' %}
{% endblock %}
</div>
{% block breadcrumbs %}
    {% include 'general/homeRedirect.html' %}
{% endblock %}
{% block bodyclass %}{% endblock %}

{% block content %}
    <div id="container" style="background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 75px auto;">
        {% include 'admin/login.html' %}

    </div>
{% endblock %}
{% block footer %}
    {% include 'general/foot.html' %}
{% endblock %}


